src/wsdl/web-service-android-sensor-web-service.1d35.starter-us-east-1.openshiftapps.com/AndroidWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://android.webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://android.webservice.com/" name="AndroidWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://web-service-android-sensor-web-service.1d35.starter-us-east-1.openshiftapps.com:80/AndroidWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://android.webservice.com/" schemaLocation="http://web-service-android-sensor-web-service.1d35.starter-us-east-1.openshiftapps.com:80/AndroidWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="signUp">
<part name="parameters" element="tns:signUp"/>
</message>
<message name="signUpResponse">
<part name="parameters" element="tns:signUpResponse"/>
</message>
<message name="updateUsers">
<part name="parameters" element="tns:updateUsers"/>
</message>
<message name="updateUsersResponse">
<part name="parameters" element="tns:updateUsersResponse"/>
</message>
<message name="updateUsersLocation">
<part name="parameters" element="tns:updateUsersLocation"/>
</message>
<message name="updateUsersLocationResponse">
<part name="parameters" element="tns:updateUsersLocationResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<portType name="AndroidWebService">
<operation name="signUp">
<input wsam:Action="http://android.webservice.com/AndroidWebService/signUpRequest" message="tns:signUp"/>
<output wsam:Action="http://android.webservice.com/AndroidWebService/signUpResponse" message="tns:signUpResponse"/>
</operation>
<operation name="updateUsers">
<input wsam:Action="http://android.webservice.com/AndroidWebService/updateUsersRequest" message="tns:updateUsers"/>
<output wsam:Action="http://android.webservice.com/AndroidWebService/updateUsersResponse" message="tns:updateUsersResponse"/>
</operation>
<operation name="updateUsersLocation">
<input wsam:Action="http://android.webservice.com/AndroidWebService/updateUsersLocationRequest" message="tns:updateUsersLocation"/>
<output wsam:Action="http://android.webservice.com/AndroidWebService/updateUsersLocationResponse" message="tns:updateUsersLocationResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://android.webservice.com/AndroidWebService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://android.webservice.com/AndroidWebService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="test">
<input wsam:Action="http://android.webservice.com/AndroidWebService/testRequest" message="tns:test"/>
<output wsam:Action="http://android.webservice.com/AndroidWebService/testResponse" message="tns:testResponse"/>
</operation>
</portType>
<binding name="AndroidWebServicePortBinding" type="tns:AndroidWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="signUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUsersLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AndroidWebService">
<port name="AndroidWebServicePort" binding="tns:AndroidWebServicePortBinding">
<soap:address location="http://web-service-android-sensor-web-service.1d35.starter-us-east-1.openshiftapps.com:80/AndroidWebService"/>
</port>
</service>
</definitions>